[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/CMakeezer/googletest
[submodule "libs/CppMicroServices"]
	path = libs/CppMicroServices
	url = https://github.com/CMakeezer/CppMicroServices
[submodule "libs/CLUE"]
	path = libs/CLUE
	url = https://github.com/CMakeezer/CLUE
[submodule "libs/immutable-cpp"]
	path = libs/immutable-cpp
	url = https://github.com/CMakeezer/immutable-cpp
[submodule "libs/czmq"]
	path = libs/czmq
	url = https://github.com/zeromq/czmq
[submodule "libzmq"]

	path = libs/libzmq

	url = https://github.com/zeromq/libzmq
[submodule "libs/cmcstl2"]
	path = libs/cmcstl2
	url = https://github.com/CMakeezer/cmcstl2
[submodule "libs/Synca"]
	path = libs/Synca
	url = https://github.com/CMakeezer/Synca
[submodule "libs/syscpp"]
	path = libs/syscpp
	url = https://github.com/CMakeezer/syscpp
[submodule "libs/hof"]
	path = libs/hof
	url = https://github.com/CMakeezer/hof
[submodule "libs/IncludeOS"]
	path = libs/IncludeOS
	url = https://github.com/CMakeezer/IncludeOS
