[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/CMakeezer/googletest
[submodule "libs/CppMicroServices"]
	path = libs/CppMicroServices
	url = https://github.com/CMakeezer/CppMicroServices
[submodule "libs/immutable-cpp"]
	path = libs/immutable-cpp
	url = https://github.com/CMakeezer/immutable-cpp
[submodule "libs/czmq"]
	path = libs/czmq
	url = https://github.com/zeromq/czmq
[submodule "libs/libzmq"]
	path = libs/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "libs/Synca"]
	path = libs/Synca
	url = https://github.com/CMakeezer/Synca
[submodule "libs/syscpp"]
	path = libs/syscpp
	url = https://github.com/CMakeezer/syscpp
[submodule "libs/hof"]
	path = libs/hof
	url = https://github.com/CMakeezer/hof
[submodule "libs/IncludeOS"]
	path = libs/IncludeOS
	url = https://github.com/CMakeezer/IncludeOS
[submodule "libs/function2"]
	path = libs/function2
	url = https://github.com/CMakeezer/function2
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/CMakeezer/Catch2
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/CMakeezer/rapidjson
[submodule "libs/asyncplusplus"]
	path = libs/asyncplusplus
	url = https://github.com/CMakeezer/asyncplusplus
[submodule "libs/FakeIt"]
	path = libs/FakeIt
	url = https://github.com/CMakeezer/FakeIt
[submodule "libs/immer"]
	path = libs/immer
	url = https://github.com/CMakeezer/immer
[submodule "libs/hana"]
	path = libs/hana
	url = https://github.com/CMakeezer/hana
[submodule "libs/continuable"]
	path = libs/continuable
	url = https://github.com/CMakeezer/continuable
[submodule "libs/benchmark"]
	path = libs/benchmark
	url = https://github.com/CMakeezer/benchmark
[submodule "libs/backward-cpp"]
	path = libs/backward-cpp
	url = https://github.com/CMakeezer/backward-cpp
[submodule "libs/curl"]
	path = libs/curl
	url = https://github.com/CMakeezer/curl
[submodule "libs/SFML"]
	path = libs/SFML
	url = https://github.com/CMakeezer/SFML
[submodule "libs/tiny-dnn"]
	path = libs/tiny-dnn
	url = https://github.com/CMakeezer/tiny-dnn
[submodule "libs/brigand"]
	path = libs/brigand
	url = https://github.com/CMakeezer/brigand
[submodule "libs/CLUE"]
	path = libs/CLUE
	url = https://github.com/CMakeezer/CLUE
[submodule "libs/gherkin-c"]
	path = libs/gherkin-c
	url = https://github.com/CMakeezer/gherkin-c
[submodule "libs/fmem"]
	path = libs/fmem
	url = https://github.com/CMakeezer/fmem
[submodule "libs/gherkin-cpp"]
	path = libs/gherkin-cpp
	url = https://github.com/CMakeezer/gherkin-cpp
[submodule "libs/GUnit"]
	path = libs/GUnit
	url = https://github.com/CMakeezer/GUnit
[submodule "libs/cmake-findgmock"]
	path = libs/cmake-findgmock
	url = https://github.com/CMakeezer/cmake-findgmock
[submodule "libs/dynamix"]
	path = libs/dynamix
	url = https://github.com/CMakeezer/dynamix
[submodule "libs/metal"]
	path = libs/metal
	url = https://github.com/CMakeezer/metal
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/CMakeezer/json
